<launch>
    
    <!-- Starts an empty world with the robot at 0,0 -->
    <include file="$(find sb_gazebo)/launch/open_world.launch">

        <arg name="world" value="empty.world"/>
        <arg name="x_start_coordinate" value="0"/>
        <arg name="y_start_coordinate" value="0"/>
        <arg name="initial_rotation" value="0"/> <!-- In Radians -->
	<arg name="robot" value="elsa"/>

    </include>
     
</launch>
