<launch>

    <!-- Runs a rough approximation of the IGVC Basic Course in Gazebo -->    

    <!-- Start the world -->
    <include file="$(find sb_gazebo)/launch/gazebo_open_world.launch">
        <arg name="world" value="igvc.world"/>
        <arg name="x_start_coordinate" value="-1.63"/>
        <arg name="y_start_coordinate" value="-32"/>
        <arg name="initial_rotation" value="0"/>
        <arg name="robot" value="elsax"/>
    </include>
     
</launch>
