<launch>

    <!-- Runs a rough approximation of the IGVC Basic Course in Gazebo -->    

    <!-- Start the world -->
    <include file="$(find sb_gazebo)/launch/open_world.launch">
        <arg name="world" value="igvc_basic.world"/>
        <arg name="x_start_coordinate" value="-28.5"/>
        <arg name="y_start_coordinate" value="-7"/>
        <arg name="initial_rotation" value="1.5707"/>
        <arg name="robot" value="jfrost"/>
    </include>
     
</launch>
