[submodule "src/sicktoolbox"]
	path = src/sicktoolbox
	url = https://github.com/ros-drivers/sicktoolbox.git
[submodule "src/sicktoolbox_wrapper"]
	path = src/sicktoolbox_wrapper
	url = https://github.com/ros-drivers/sicktoolbox_wrapper.git 
[submodule "src/zed-ros-wrapper"]
	path = src/zed-ros-wrapper
	url = https://github.com/UBC-Snowbots/zed-ros-wrapper.git
[submodule "src/ros_arduino_bridge"]
	path = src/ros_arduino_bridge
	url = https://github.com/UBC-Snowbots/ros_arduino_bridge.git
[submodule "src/razor_imu_9dof"]
	path = src/razor_imu_9dof
	url = https://github.com/UBC-Snowbots/razor_imu_9dof.git
[submodule "src/nmea_navsat_driver"]
	path = src/nmea_navsat_driver
	url = https://github.com/UBC-Snowbots/nmea_navsat_driver.git
[submodule "src/gps_umd"]
	path = src/gps_umd
	url = https://github.com/swri-robotics/gps_umd
