<launch>
    <!-- Toggle if using simulation data -->
    <param name="/use_sim_time" value="true"/>

    <node pkg="nodelet"
          type="nodelet"
          name="rgb_to_hsv"
          args="load sb_pointcloud_processing/rgb_to_hsv nm" output="screen">
        <remap from="~/input" to="/zed/point_cloud/cloud_registered" />
    </node>

</launch>
