<launch>
    <node name="line_extractor_node" pkg="sb_pointcloud_processing" type="line_extractor_node" output="screen">
        <!-- degree of polynomial for line of best fit -->
        <param name="degree_polynomial" value="3" type="int" />
        <!-- regularization constant for line of best fit -->
        <param name="lambda" value="0" type="double" />
        <!-- density parameters for DBSCAN -->
        <param name="min_neighbours" value="10" type="int" />
        <param name="radius" value="5" type="double" />
    </node>
    <node name="test_pcl_generator_node" pkg="sb_pointcloud_processing" type="test_pcl_generator_node" output="screen">
        <rosparam param="first_line">[30, 0, -0.01, 0.0002]</rosparam>
        <rosparam param="second_line">[0, 0, -0.01, 0.0002]</rosparam>
        <param name="x_min" value="-40" type="double" />
        <param name="x_max" value="60" type="double" />
        <param name="x_delta" value="0.1" type="double" />
        <param name="max_noise_x" value="5" type="double" />
        <param name="max_noise_y" value="5" type="double" />
        <param name="outlier" value="true" type="bool" />
        <rosparam param="outlier_line">[60]</rosparam>
        <param name="outlier_x_delta" value="1" type="double"></param>
    </node>
</launch>