<launch>
    <node name="risk_analysis"
    	  pkg="sb_pointcloud_processing" 
    	  type="risk_analysis" 
    	  output="screen">

        <remap from="/input_pointcloud" to="/camera/base_link_transform/points" />
        <rosparam>
            area_of_interest_width: 8
            area_of_interest_height: 8
            num_vertical_cell_div: 50
            num_horizontal_cell_div: 50
            region_min_points: 10
            risk_multiplier: 40
        </rosparam>
    </node>
</launch>

