<launch>      
    
    <!-- 
         Opens a give world from "elsa_gazebo/worlds" and 
         places the robot in it at a given x,y and with
         a given rotation
    -->
    
    <arg name="world"/>
    <arg name="x_start_coordinate"/>
    <arg name="y_start_coordinate"/>
    <arg name="initial_rotation"/>

    <!-- Start up the world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">       
        <arg name="world_name" value="$(find elsa_gazebo)/worlds/$(arg world)"/> 
        <arg name="gui" value="true"/>
    </include>  
    
    <!-- ros_control elsa launch file -->
    <include file="$(find elsa_gazebo)/launch/elsa_control.launch" />

    <!-- urdf xml robot description loaded on the Parameter Server, 
    converting the xacro into a proper urdf file-->
    <param name="robot_description"
        command="$(find xacro)/xacro --inorder '$(find elsa_gazebo)/urdf/elsa.xacro'" />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="elsa_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
     args="-urdf -param robot_description -model elsa -x $(arg x_start_coordinate) -y $(arg y_start_coordinate) -Y $(arg initial_rotation)" /> 

</launch>
