<?xml version="1.0"?>

<model>
    <name>My first model</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Your name</name>
        <email>your@email.com</email>
    </author>

    <description>
        My first model for gazebo
    </description>
</model>