<launch>

    <!-- Launch GPS Manager -->
    <node name="gps_manager" pkg="decision_igvc" type="gps_manager" output="screen">
        <rosparam param="at_goal_tolerance">0.5</rosparam>
        <rosparam param="waypoints">
        [
        49.2622555501, -123.248497888,
        49.2622855408, -123.248255878,
        49.2623685792, -123.248444277,  
        49.2625310516, -123.248160402,
        49.2627332539, -123.248486212,
        49.2622555501, -123.248497888
        ]
        </rosparam>
        <rosparam param="base_frame">base_link</rosparam>
        <rosparam param="global_frame">map</rosparam>
    </node>

</launch>
