<launch>

    <!-- Start waypoint navigation -->
    <include file="$(find decision_igvc)/launch/waypoint_navigation.launch"/>

    <!-- Start vision decision -->
    <include file="$(find decision_igvc)/launch/gps_decision.launch"/>

    <!-- Start lidar decision -->
    <include file="$(find decision_igvc)

</launch>
