<launch>
    
    <node name="vision_decision" pkg="decision_igvc" type="vision_decision" output="screen">
        <!-- TODO: These should be the default values -->
        <remap from="/vision_processing/filtered_image" to="/vision/filtered_image"/>

        <!-- The value to scale the angular velocity on outputted twist messages by -->
        <rosparam param="angular_vel_multiplier">1.5</rosparam>
    </node>
</launch>
