<launch>

    <!-- Launch GPS Manager -->
    <node name="gps_manager" pkg="decision" type="gps_manager3" output="screen">
        <rosparam param="at_goal_tolerance">1</rosparam>
        <!-- VANCOUVER VALUES
        <rosparam param="waypoints">
            [49.2630696683, -123.247368622]
        </rosparam>
        -->
        <!-- Practice EAST -->
        <!--
        <rosparam param="waypoints">
            [42.67857277, -83.19506167]
        </rosparam>
        -->
        <!-- Practice WEST
        <rosparam param="waypoints">
            [42.67858287, -83.19530227]
        </rosparam>
        -->
        <!-- Qualifications 
        <rosparam param="waypoints">
            [42.67833241, -83.19551079, 42.67815183, -83.19550314]
        </rosparam> 
        -->
        <!-- Course Waypoints NAVPOINT: WEST, NORTH, SOUTH -->
        <rosparam param="waypoints">
            [42.67896582, -83.19509701, 42.67909089, -83.19495593, 42.67885133, -83.19494513, ]
        </rosparam>

    </node>

</launch>
