<launch>

    <!-- Launch GPS Manager -->
    <node name="gps_manager" pkg="decision" type="gps_manager3" output="screen">
        <rosparam param="at_goal_tolerance">0.5</rosparam>
        <rosparam param="waypoints">
        [49.2625624628, -123.2488603, 49.2624819706, -123.248568506]
        </rosparam>
    </node>

</launch>
