<launch>
    <node pkg="rosserial_python" type="serial_node.py" name="firmware_driver" output="screen">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="57600" />
	<param name="linear_Kp" value="2.1" />
	<param name="linear_Ki" value="5.2" />
	<param name="linear_Kd" value="1.1" />
	<param name="angular_Kp" value="2.1" />
	<param name="angular_Ki" value="5.1" />
	<param name="angular_Kd" value="1.1" />
    </node>

</launch>
