
<launch>

    <!-- Load which Phidget's we're using (via their serial numbers) -->
    <rosparam command="load" file="$(find drivers)/config/phidget_encoders_test_cart.yaml" />

    <!-- Start the encoder nodes -->
    <node name="left_encoder" pkg="phidgets_high_speed_encoder" type="phidgets_high_speed_encoder" output="screen" />
    <node name="left_encoder" pkg="phidgets_high_speed_encoder" type="phidgets_high_speed_encoder" output="screen" />

</launch>
