
<launch>

    <!-- Start the encoder node that gets encoder ticks over serial -->
    <node name="encoders_driver" pkg="phidgets_high_speed_encoder" type="phidgets_high_speed_encoder" output="screen">
        <rosparam param="joint0_name">left_encoder</rosparam>
        <rosparam param="joint1_name">right_encoder</rosparam>
        <rosparam param="joint0_tick2rad"> 1 </rosparam>
        <rosparam param="joint1_tick2rad"> 1 </rosparam>
        <remap from="/joint_states" to="/encoders/joint_states" />
    </node>

</launch>
