<launch>
<!-- 
    This launch file is responsible for launching the entire localisation stack
-->

    <!-- Start all the sensors -->
    <include file="$(find localisation_igvc)/launch/sensors.launch"/>
    
    <!--
        Start the EKF (Extended Kalman Filter) to translate all the sensor
        data into a estimate of our current state (an Odometry message)
    -->
    <include file="$(find localisation_igvc)/launch/ekf.launch"/>

</launch>

