<launch>
<!-- 
    This launch file is responsible for launching the entire localisation stack
-->
    
    <!-- Translate NavSatFix Messages to Odometry Messages for the EKF -->
    <include file="$(find localisation)/launch/gps_to_odom.launch"/>
    
    <!--
        Start the EKF (Extended Kalman Filter) to translate all the sensor
        data into a estimate of our current state (an Odometry message)
    -->
    <include file="$(find localisation)/launch/ekf.launch"/>

</launch>

