<launch>
    <node name="ekf_node" pkg="localisation" type="ekf_node" output="screen">
	<!-- The error of the IMU angular velocity measurement -->
        <rosparam param="sdev_gyro">0.017453292519943295</rosparam>

	<!-- The error of the linear (forward) speed encoder measurement-->
        <rosparam param="sdev_speed">0.15</rosparam>

	<!-- The error of the gps x coordinate measurement -->
        <rosparam param="sdev_gps_x_measurement">5.0</rosparam>

	<!-- The error of the gps y coordinate measurement -->
        <rosparam param="sdev_gps_y_measurement">5.0</rosparam>

	<!-- The error of the IMU orientation measurement -->
        <rosparam param="sdev_angle_measurement">0.017453292519943295</rosparam>

	<!-- initialise covariance matrix -->
        <rosparam param="p">[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]</rosparam>

	<!-- matrix to account for unknown external influences -->
        <rosparam param="q1">[0.0001, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.000304617419786708]</rosparam>

	<!-- observation matrix -->
        <rosparam param="h">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]</rosparam>

	<!-- initial bot x position -->
        <rosparam param="initial_pos_x">481917.0</rosparam>

	<!-- initial bot y position -->
        <rosparam param="initial_pos_y">5456662.0</rosparam>

	<!-- initial bot orientation -->
        <rosparam param="initial_yaw_angle">0.0</rosparam>
    </node>
</launch>
