<launch>

    <!-- 
        This node translates GPS messages (`sensor_msgs/NavSatFix`) into
        Odometry messages (nav_msgs/Odometry)
    -->
    <node name="gps_to_odom" pkg="gps_common" type="utm_odometry_node"> 
        <param name="rot_covariance" value="99999" /> 
        <param name="frame_id" value="base_link" /> 
 
        <remap from="odom" to="/gps_driver/odom" /> 
        <remap from="fix" to="/gps_driver/navsatfix" /> 
    </node> 

</launch>
