<launch>

    <!-- Setup pathfinding params -->
    <node name="path_finding" pkg="pathfinding_igvc" type="path_finding" output="screen">
        <!-- 
            The number of poses to average out in the path to compute the 
            twist message
        -->
        <rosparam param="num_poses"> 10 </rosparam>

        <!--
            The frame of the robot
        -->
        <rosparam param="base_frame"> "base_link" </rosparam>

        <!--
        -->
        <rosparam param="global_frame"> "map" </rosparam>

    </node>

</launch>
