<launch>

    <node name="path_to_twist" pkg="pathfinding_igvc" type="path_to_twist" output="screen">
        <!-- 
            The number of poses to average out in the path to compute the 
            twist message
        -->
        <rosparam param="num_poses"> 5 </rosparam>

        <!--
            The frame of the robot
        -->
        <rosparam param="base_frame"> "base_link" </rosparam>

        <!--
        -->
        <rosparam param="global_frame"> "map" </rosparam>

        <!-- The max linear/angular speeds -->
        <rosparam param="max_linear_speed"> 1.2 </rosparam>
        <rosparam param="max_angular_speed"> 0.6 </rosparam>

        <!-- The scaling factors for the linear/angular speeds -->
        <rosparam param="linear_speed_scaling_factor"> 0.8 </rosparam>
        <rosparam param="angular_speed_scaling_factor"> 0.8 </rosparam>

        <!-- The path dropoff factor (how many points to consider for path to twist calc), higher is more points considered  -->
        <rosparam param="path_dropoff_factor"> 500 </rosparam>

	<!-- Linear speed dropoff factor -->
	<rosparam param="linear_speed_dropoff_factor"> 1.0 </rosparam>


        <remap from="/path" to="/path_finder/path" />
        <remap from="/cmd_vel" to="/cmd_vel" />
    </node>

</launch>
